<div class="modal fade" id="add_measurements_modal" tabindex="-1" role="dialog" aria-labelledby="add_measurements_modallLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add_measurements_modalLabel">Add measurment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
          <div class="modal-body">
            {% csrf_token %}
            {% for field in add_measurment_form %}
              <p>
               
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" style="border-color:coral; background-color:coral;" name="action_button" value="add_measurements_button" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>