<style>
   .layout_client_base {
    background-color: rgba(255, 127, 80, 0.2);
    width: 100%;
    display: flex;
    gap: 16px;
  } 
</style>


<section class="layout_client_base">
  <div class="btn" role="button" style="padding:5px; background-color:white; margin: 1%;">
        <i class="fa fa-user" style="font-size: 30px;" aria-hidden="true"></i>
        <h4>Client info</h4>
    </div>
    <div class="btn" role="button" style="padding:5px; background-color:white; margin: 1%;">
      <i class="fa fa-bar-chart" style="font-size: 30px;" aria-hidden="true"></i>
      <h4>Measurements</h4>
  </div>
  <div class="btn" role="button" style="padding:5px; background-color:white; margin: 1%;">
    <i class="fa fa-cutlery" style="font-size: 30px;" aria-hidden="true"></i>
    <h4>Meal plan</h4>
</div>
</section>
