<head>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/client_info_table.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/client_page.css' %}"/>

  <!-- for chart -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>

</head>
<style>

.layout {
  width: 100%;
  background-color: rgba(255, 127, 80, 0.2);
    min-height: 100%;
  display: grid;
  padding: 2%;
  grid:
    "column1 column2" 100%
    / 30% 70%;
  gap: 8px;

  align-content: start;
  align-items: start;
}

.column1 { grid-area: column1; }
.column2 { grid-area: column2; }

</style>

<body>
  <nav>
      {% include "./base.html" %}
  </nav>

  <section class="layout"> 
    <div class="column1 ">

      <h3>Client Information</h3>
        
      {% if action_info == 'show' %}
        <form method="post">
          {% csrf_token %}
          <table style="overflow-x:auto; width:100%" id="client_info_table1">
            {% for field in target_client %}
            <input type="hidden" name="target_row" value="{{field.id}}" >
            <tr>
              <th>Name</th>
              <td>{{ field.name }}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{ field.status }}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td id="id_gender">{{ field.gender }}</td>
            </tr>
            <tr>
              <th>Birthday</th>
              <td>{{ field.birthday }}</td>
            </tr>
            <tr>
              <th>Age</th>
              <td id="id_age">{{ field.age }}</td>
            </tr>
            <tr>
              <th>Height</th>
              <td id="id_height">{{ field.height }}</td>
            </tr>
            <tr>
              <th>Current Weight</th>
              <td>{{ field.current_weight }}</td>
            </tr>
            <tr>
              <th>Target Weight</th>
              <td>{{ field.target_weight }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ field.email }}</td>
            </tr>
            <tr>
              <th>Adress</th>
              <td>{{ field.address }}</td>
            </tr>
            {% endfor %}
          </table>
          <div class="submit_buttons" style="float: right; margin-top:2%;">
            <button class="btn btn-primary" style="background-color:coral; border-color:coral;" type="submit" name="action_button" value="edit_client_info"><i class="fa fa-edit"></i> Edit</button>
          </div>
        </form>
        
      {% elif action_info == 'edit' %}
        <form method="post">
          {% csrf_token %}
          <table style="overflow-x:auto; width:100%" id="client_info_table2">
            
            {% for field in edit_client %}
            <tr>
              <th>{{ field.label}}</th>
              <td>{{ field}}</td>
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </tr>
            {%  endfor %}
          </table> 
          <div class="submit_buttons" style="float: right; margin-top:2%;">
            <button class="btn btn-danger"   type="submit" name="action_button" value="cancel_client_info"><i class=""></i> Cancel</button>
            <button class="btn btn-primary"  type="submit" name="action_button" value="save_client_info"><i class="fa fa-save"></i> Save</button>
          </div>
        </form>
      {% endif %}
  
    </div>

    <div class="column2">

      <center>
        <button type="button" class="btn btn-primary btn-lg" style="margin:3%; background-color: coral; border: 0;" data-toggle="modal" data-target="#add_measurements_modal"> <i class="fa fa-plus"></i> Add Measurment
        </button>
      </center>

      {% include "./add_measurements_modal.html" %}
        
      <div class="tableWrap">
        <table class="table center" id="measurements_table" >
          <thead>
            <th>Date</th>
            <th>Weight</th>
            <th>Fat</th>
            <th>Muscle mass</th>
            <th>Bone mass</th>
            <th>Liguids</th>
            <th>Vinceral fat</th>
            <th>BMR</th>
            <th>BMI</th>
            <th>I.B.</th>
            <th></th>
            <th></th>

          </thead>
          <tbody style="margin:20px;">
            <tr>
              {% for field in client_measurements %}
                <tr>
                  <form method="post">
                    {% csrf_token %}
                    <td>{{field.date}}</td>
                    <td>{{field.weight}}</td>
                    <td>{{field.fat}}</td>
                    <td>{{field.muscle_mass}}</td>
                    <td>{{field.bone_mass}}</td>
                    <td>{{field.liquids}}</td>
                    <td>{{field.vinceral_fat}}</td>
                    <td id="bmr_{{field.id}}"></td>
                    <td id="bmi_{{field.id}}"></td>
                    <td id="ib_{{field.id}}" ></td>

                    <td> <button type="submit" style="background-color: transparent;" id="save_button" name="action_button" value="view_button"><i class='fa fa-edit'></i></button> </td>
                    <td> <button type="submit" style="background-color: transparent;"><i class='fa fa-trash'></i></button> </td>
                  </form>
                </tr>
              {% endfor %}   
          </tr>
          </tbody>
        </table>
        </div>

        <canvas id="myChart" style="width:100%;"></canvas>
    </div>
    
  </section>


<script>
  window.onload = function afterWebPageLoad(){
    let gender = document.getElementById("id_gender").innerText; 
    let age = document.getElementById("id_age").innerText; 
    let height = document.getElementById("id_height").innerText;
    let weight=-1;

    let bmr=-1;
    let ib=-1;
    let bmi=-1;
    

    var data = JSON.parse("{{data|escapejs}}");
      for (const [key, value] of Object.entries(data)) {
        console.log('--->',key, data[key].pk);
        
        weight = data[key].fields.weight;
        
        if (gender == 'Male'){
          

          bmr = weight*13.75+66.5+height*5-6.78*age;
          ib= (height*height)*22.7/10000;

        } else if (gender == 'Female'){

          bmr=655+9.56*weight+1.85*height-4.68*age;
          ib= (height*height)*22.4/10000;   

        }
        bmi = (weight/(height*height))*10000;
        document.getElementById('bmr_'+data[key].pk).innerText = bmr.toFixed(2);
        document.getElementById('bmi_'+data[key].pk).innerText = bmi.toFixed(2);    
        document.getElementById('ib_'+data[key].pk).innerText = ib.toFixed(2);
        
      }
  }
</script>
    
    <script>

      var dict = []; // create an empty array

      var data = JSON.parse("{{data|escapejs}}");
      for (const [key, value] of Object.entries(data)) {
        console.log(key, data[key].fields.date);
        dict.push({
            date:   data[key].fields.date,
            weight: data[key].fields.weight,
            fat: data[key].fields.fat,
            muscle_mass	: data[key].fields.muscle_mass,
            bone_mass: data[key].fields.bone_mass,
            liguids: data[key].fields.liguids,
            vinceral_fat: data[key].fields.vinceral_fat
            });
      }
      
      const date = []
      const val_weight = []
      const val_fat = []
      const val_muscle_mass = []
      const val_bone_mass = []
      const val_liguids = []
      const val_vinceral_fat = []

      for (i in dict){

        date.push(dict[i].date)
        val_weight.push(dict[i].weight)
        val_fat.push(dict[i].fat)
        val_muscle_mass.push(dict[i].muscle_mass)
        val_bone_mass.push(dict[i].bone_mass)
        val_liguids.push(dict[i].liguids)
        val_vinceral_fat.push(dict[i].vinceral_fat)
      }

      
      var ctx = document.getElementById("myChart");
      var lineChart = new Chart(ctx, {
        type: 'line',
    data: {
        labels: date,
        datasets: [
        {
          label: 'Weight',
          borderColor: 'rgb(0,0,0)',
          data: val_weight,
        
        },{
        
          label: 'Fat',
          borderColor: 'rgb(0,0,255)',
          data: val_fat,
        },{
        
          label: 'Muscle mass',
          borderColor: 'rgb(255,255,0)',
          data: val_muscle_mass,
        },{
          
          label: 'Bone Mass',
          borderColor: 'rgb(128,128,128)',
          data: val_bone_mass,
        },{
          
          label: 'Liguids',
          borderColor: 'rgb(255,0,255)',
          data: val_liguids,
        },{
          
          label: 'Vinceral Fat',
          borderColor: 'rgb(0,255,255)',
          data: val_vinceral_fat,
        },
      
      
      ],

    },
    options: {

    scales: {
      x: {
        // The axis for this scale is determined from the first letter of the id as `'x'`
        // It is recommended to specify `position` and / or `axis` explicitly.
        type: 'time',
        time: {
          parser: 'YYYY-MM-DD',
          unit: 'week',
          displayFormats: {
             month: 'DD/MM/YY'
          },
          tooltipFormat: 'DD/MM/YY'
        },
        
      }
          }
    }
});
      </script>

  