<head>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/client_info_table.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/client_page.css' %}"/>

</head>
<style>


.layout {
  width: 100%;
  background-color: rgba(255, 127, 80, 0.2);
    min-height: 100%;
  display: grid;
  padding: 2%;
  grid:"column1 column2" 100%
    / 25% 75%;
  gap: 18px;

  align-content: start;
  align-items: start;
}

/* .layout {
  width: 100%;
  background-color: rgba(255, 127, 80, 0.2);
    min-height: 100%;
  display: grid;
  padding: 2%;
  grid:
  "header header header" auto
    ". body ." 100%
    "column1 column2" 100%
    / 25% 75%;
  gap: 18px;

  align-content: start;
  align-items: start;
} */


.column1 { grid-area: column1; }
.column2 { grid-area: column2; }

</style>

<body>
  <nav>
      {% include "./base.html" %}
  </nav>

  <section class="layout"> 
    <!-- <div class="header">
      {% include "./client_base.html" %}
    </div> -->
    <div class="column1 ">

      <h3>Client Information</h3>
          <table style="overflow-x:auto; width:100%" id="client_info_table1">
            {% for field in target_client %}
            <input type="hidden" name="target_row" value="{{field.id}}" >
            <tr>
              <th>Name</th>
              <td>{{ field.name }}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{ field.status }}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td id="id_gender">{{ field.gender }}</td>
            </tr>
            <tr>
              <th>Birthday</th>
              <td>{{ field.birthday }}</td>
            </tr>
            <tr>
              <th>Age</th>
              <td id="id_age">{{ field.age }}</td>
            </tr>
            <tr>
              <th>Height</th>
              <td id="id_height">{{ field.height }}</td>
            </tr>
            <tr>
              <th>Target Weight</th>
              <td>{{ field.target_weight }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ field.email }}</td>
            </tr>
            <tr>
              <th>Adress</th>
              <td>{{ field.address }}</td>
            </tr>
            {% endfor %}
          </table>
          <div class="submit_buttons" style="float: right; margin-top:2%;">
            <button class="btn btn-primary" style="background-color:coral; border-color:coral;" type="submit" name="action_button" value="edit_client_info" data-toggle="modal" data-target="#edit_client_modal"><i class="fa fa-edit"></i> Edit</button>
          </div>
          <h3>Create plan</h3>
          <div class="submit_buttons" style="float: left; margin-top:2%;">
            <form method="post">
              {% csrf_token %}
              <button class="btn btn-primary" style="background-color:coral; border-color:coral;" type="submit" name="action_button" value="create_plan"><i class="fa fa-building"></i> Create Plan</button>
            </form>
          </div>
      
    </div>

    <div class="column2">

        <h3>Equivalents</h3>
           <div class="row col-xs-6 col-md-12" style="margin-bottom:2%;">
            <div class="col-eqiv" style="width: 40%;">
              <table style="width:100%;">
            <tr>
              {% for field in client_equiv %}
              <tr>
                <th style="width: 12%;padding: 8px;"></th>
                <th style="width: 22%;padding: 8px;">Carbohydrates</th>
                <th style="width: 22%;padding: 8px;">Proteins</th>
                <th style="width: 22%;padding: 8px;">Fat</th>
                <th style="width: 22%;padding: 8px;">Calories</th>
              </tr>
              <tr>
                <th style="padding: 8px;">Targets</th>
                <td style="background-color: white;">{{field.carbohydrates_percent}} %</td>
                <td style="background-color: white;">{{field.proteins_percent}} %</td>
                <td style="background-color: white;">{{field.fat_percent}} %</td>
                <td style="background-color: white;">{{field.target_calories}} cal</td>
              </tr>
            
              <tr style="background-color: rgb(255, 230, 220);">
                <th style="padding: 8px;">Total (Gr)</th>
                <td id="total_gr_carbohydrates_cl"></td>
                <td  id="total_gr_proteins_cl"></td>
                <td  id="total_gr_fat_cl"></td>
                <td></td>
              </tr>
              <tr style="background-color: rgb(255, 176, 145);">
                <th style="padding: 8px;">Total (Cal)</th>

                <td id="total_cal_carbohydrates_cl"></td>
                <td id="total_cal_proteins_cl"></td>
                <td id="total_cal_fat_cl"></td>
                <td id="total_cal_cl"></td>
              </tr>
              <tr style="background-color: rgb(255, 230, 220);">
                <th style="padding:8px;">Percent (%)</th>
                <td  id="total_per_carbohydrates_cl"></td>
                <td id="total_per_proteins_cl"></td>
                <td id="total_per_fat_cl"></td>
                <td></td>
              </tr>
            
              {% endfor %}
            
            </tr>
              </table>
              <div class="submit_buttons" style="float: right; margin-top:2%;">
                <button type="button" class="btn btn-primary btn-md" style=" background-color: coral; border: 0;" data-toggle="modal" data-target="#edit_equivalents_modal" onclick="updateequiv();"> <i class="fa fa-edit"></i> Edit Equivalents
                </button>            
              </div>
            </div>
            <div class="col-eqiv" style=" width: 45%;">
              <canvas id="myChart1" style="width:100%;" ></canvas>

            </div>
            <div class="col-eqiv" style=" width: 15%;">
              <canvas id="myChart2"></canvas>

            </div>

        </div>
       


      {% include "./modal_templates/add_measurements_modal.html" %}
      {% include "./modal_templates/edit_measurements_modal.html" %}
      {% include "./modal_templates/edit_equivalents_modal.html" %}

      <div style="margin-bottom:2%;">
        <h3>Measurements</h3>
        <div class="tableWrap">
        <table class="table center" id="measurements_table" >
          <thead>
            <th>Date</th>
            <th>Activity Factor</th>
            <th>Weight</th>
            <th>Fat</th>
            <th>Muscle mass</th>
            <th>Bone mass</th>
            <th>Liguids</th>
            <th>Vinceral fat</th>
            <th>BMR</th>
            <th>BMI</th>
            <th>I.B.</th>
            <th></th>
            <th></th>

          </thead>
          <tbody style="margin:20px;">
            <tr>
              {% for field in client_measurements %}
                <tr>
                  <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="target_row" value="{{field.id}}" >
                    <td>{{field.date}}</td>
                    <td>{{field.activity_factor}}</td>
                    <td>{{field.weight}}</td>
                    <td>{{field.fat}}</td>
                    <td>{{field.muscle_mass}}</td>
                    <td>{{field.bone_mass}}</td>
                    <td>{{field.liquids}}</td>
                    <td>{{field.vinceral_fat}}</td>
                    <td id="bmr_{{field.id}}"></td>
                    <td id="bmi_{{field.id}}"></td>
                    <td id="ib_{{field.id}}" ></td>

                    <td> <button type="submit" style="background-color: transparent;" name="action_button" value="edit_measurements_button"><i class='fa fa-edit'></i></button> </td>
                    <td> <button type="submit" style="background-color: transparent;" name="action_button" value="delete_client_button"><i class='fa fa-trash'></i></button> </td>
                  </form>
                </tr>
              {% endfor %}   
          </tr>
          </tbody>
        </table>
        
        
        </div>
        <div class="submit_buttons" style="float: right;margin-bottom:2%;">
          <button type="button" class="btn btn-primary btn-md" style="margin:3%;width: 100%; background-color: coral; border: 0;" data-toggle="modal" data-target="#add_measurements_modal"> <i class="fa fa-plus"></i> Add Measurment
          </button>
        </div>
      </div>
      <h3>Diagrams</h3>
      <div class="row col-xs-6 col-md-12">

        <div class="col-chart" style="width:50%;">
          <canvas id="myChartweight" style="width:100%;"></canvas>
        </div>
        <div class="col-chart" style="width:50%;">
          <canvas id="myChart" style="width:100%;"></canvas>
        </div>
      </div>
    </div>
    
  </section>

  {% include "./help_templates/extra_calculations.html" %}  
  {% include "./help_templates/chart_mesurements.html" %}
  {% include "./help_templates/updateequiv.html" %}
  {% include "./modal_templates/edit_client_modal.html" %}

  

  updateequiv

  {% if openmodal == 'add_measurements_modal' %}
  <script>
    $('#add_measurements_modal').modal('show');
  </script>
  {% endif %}
  {% if openmodal == 'edit_measurements_modal' %}
  <script>
    $('#edit_measurements_modal').modal('show');
  </script>
  {% endif %}
  {% if openmodal == 'edit_client_modal' %}
  <script>
    $('#edit_client_modal').modal('show');
  </script>
  {% endif %}
</body>





  