<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/workspace_table.css' %}"/>

</head>
<style>

.layout {
  width: 100%;
  min-height: 95%;
  background-color: rgba(255, 127, 80, 0.2);

  display: grid;
  grid:
    "column1 column2" 1fr
    / 80% 20%;
  gap: 8px;

  justify-content: space-around;
  align-content: start;
  justify-items: center;
  align-items: center;
}

.column1 { grid-area: column1; }
.column2 { grid-area: column2; }
</style>



<body>
  <nav>
      {% include "./base.html" %}
  </nav>
  <section class="layout">

    <div class="column1">
      <table>
        <tr>
          <th></th>
          <th>Breakfast</th>
          <th>Mor. Snack</th>
          <th>Lunch</th>
          <th>Aft. Snack</th>
          <th>Dinner</th>
        </tr>

        <tr>
          <th>Monday</th>
          <td> <textarea ondrop="drop(event)" ondragover = "dropNow(event)" id="monday_breakfast" resize: both;  ></textarea></td>
          <td> <textarea ondrop="drop(event)" ondragover = "dropNow(event)" id="monday_morsnack"  resize: both;  ></textarea> </td>
          <td> <textarea ondrop="drop(event)" ondragover = "dropNow(event)" id="monday_lunch"     resize: both;  ></textarea> </td>
          <td> <textarea ondrop="drop(event)" ondragover = "dropNow(event)" id="monday_aftsnack"  resize: both;  ></textarea> </td>
          <td> <textarea ondrop="drop(event)" ondragover = "dropNow(event)" id="monday_dinner"    resize: both;  ></textarea> </td>

        </tr>

        <tr>
          <th>Thusday</th>
        </tr>

      </table>

    </div>
    <div class="column2">
      <table>
        <tr>
          <th>Meals templates</th>
        </tr>
        <tr>
          <td ondragstart = "dragStart(event)"
          draggable = "true" id="meal_1">Porridge: ποτήρι γάλα (240 ml), 3 κουτ. σούπας βρώμη (30 γρ), 1 μπανάνα μικρή, κανέλα (αν είναι αρεστή) και 2 κουτ. γλυκού κακάο
          </td>
        </tr>
        <tr>
          <td ondragstart = "dragStart(event)"
          draggable = "true" id="meal_2">1 ποτήρι γάλα (240 ml)</td>
        </tr>
        <tr>
          <td ondragstart = "dragStart(event)"
          draggable = "true" id="meal_3">2 ρυζογκοφρέτες/καλαμπογκοφρέτες με 30 γρ τυρί cottage ή 1 φέτα κίτρινο τυρί</td>
        </tr>
        <tr>
          <td ondragstart = "dragStart(event)"
          draggable = "true" id="meal_4">1 φρούτο εποχής</td>
        </tr>
        
      </table>
      
    </div>
      
  </section>

</body>

<script>
  function dragStart(event) {
   
     event.dataTransfer.setData("Text", event.target.id);
  }

  function dropNow(event) {
     event.preventDefault();
  }
  function drop(event) {
     event.preventDefault();
     var data = event.dataTransfer.getData("Text");
     alert(data)
     document.getElementById(event.target.id).value = document.getElementById(event.target.id).value+document.getElementById(data).innerHTML;

  }
</script>