<head>
  {% load static %}
</head>
<style>

    .layout {
  width: 100%;
  background-color: rgba(255, 127, 80, 0.2);
    min-height: 100%;
  display: grid;
  padding: 2%;
  grid:
    "column1 column2" 100%
    / 1fr 1fr;
  gap: 8px;

  align-content: start;
  align-items: center;
}

.column1 { grid-area: column1; }
.column2 { grid-area: column2; }

</style>
<body>
    <nav>
        {% include "./base.html" %}
    </nav>
    <section class="layout">
        <div class="column1">
          
          <div style="width:40%; display: inline-block;">
            <img alt="nutritionist" src="{% static 'nutritionist_icon.png' %}" width="300">
          </div>
          <div style="width:40%; display: inline-block;">
            <h2>Are you a Nutritionist ?<br> Let's Start</h2>
            <a class="nav-link btn text-white" style="background-color: coral;" type="button" data-toggle="modal" data-target="#signup_modal">Sign up for free</a>
        
          </div >
          </div>
        <div class="column2">
          <div style="width:25%; display: inline-block;">
            <img alt="nutritionist" src="{% static 'customer-review.png' %}" width="100">
          </div>
          <div style="width:65%; display: inline-block;">
            <h3>List with all your clients, unlimited database </h3>        
          </div >
          <div style="width:25%; display: inline-block;">
            <img alt="nutritionist" src="{% static 'profile.png' %}" width="100">
          </div>
          <div style="width:65%; display: inline-block;">
            <h3>Client page for each one of them, with measurements, diagrams etc</h3>        
          </div >
          <div style="width:25%; display: inline-block;">
            <img alt="nutritionist" src="{% static 'computer.png' %}" width="100">
          </div>
          <div style="width:65%; display: inline-block;">
            <h3>Personal page, for each client to see her statistics</h3>        
          </div >


        </div>
      </section>

      <!--
    <div id="index_contect1">
        <div class="row" style="height:100%;">
            <div class="column container_top_bar" style="width:50%;">

                    <div class=" centered-element">
                        <h2>Are you a Nutritionist ?<br> Let's Start</h2>
                        <a class="nav-link btn text-white" style="background-color: coral;" type="button" data-toggle="modal" data-target="#signup_modal">Sign up for free</a>

                    </div>
                
            </div>
            <div class="column container_top_bar" style="width:50%;">

                <div class=" centered-element">
                    <h2>Are you a Nutritionist ?<br> Let's Start</h2>
                    <a class="nav-link btn text-white" style="background-color: coral;" type="button" data-toggle="modal" data-target="#signup_modal">Sign up for free</a>

                </div>
            
        </div>
        </div>
    </div>
    -->
</body>