
*{font-family: Comfortaa;}

/* start navigation css */
#navigation,#navigation_user{
    padding-left: 5%;
    padding-right:5% ;
}

.navigation_user{
    background-image: linear-gradient(to right,white, coral);
}
.navbar-light .navbar-nav .nav-link{
    font-size:18px;
    font-weight:lighter;
}

@media screen and (max-width: 992px) {
    .navigation_user{
    background-image: linear-gradient(white,white);}
    .navbar-light .navbar-nav .nav-link{
        color:rgba(0,0,0,.5)!important;
    }
}

/* end navigation css */

/* start alert css */
.success{
    background-color: lightgreen;
}

.danger{
    background-color: rgba(201, 72, 72, 0.997);
}

/* end alert css */


.border_shadow{
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}