td {
    padding: 8px;
    margin:10px;
  }
  
  .table{
    border-color:transparent;
  }
   th,td{
    border-bottom: 0 solid transparent!important;
    border-top: 0 solid transparent!important;
  }
  
  td {
    border-right: solid 3px rgba(255, 127, 80, 0.2); 
    border-left: solid 3px rgba(255, 127, 80, 0.2);
  }
  
   tr:nth-child(even){background-color: rgba(255, 127, 80, 0.473);}
  
   tr:hover {background-color: rgb(255, 255, 255);}
  
  thead{
    border-style: none;
  }
   th {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    text-align: left;
    border-radius: 0px!important;
    background-color: coral;
    color: white;
   }
  
  
  thead{
    border-style: none!important;
  }

  #client_table {
    width: auto;
  }

  tbody:before {line-height:1em; content:"\200C"; display:block;}
